<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
      name="viewport"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ name }}</title>
    <link rel="icon" href="" />
    <link rel="stylesheet" href="/css/reset.css" />
  </head>
  <body>
    <script src="https://unpkg.com/jquery@1.11.0/dist/jquery.js"></script>
  </body>
</html>
