@import '@/scss/common/common.scss';
@import '@/scss/variable/variable.scss';
@import '@/scss/mixins/mixins.scss';

.form-group {
  display: flex;
  margin-bottom: 18px;
  .label {
    line-height: 32px;
    white-space: nowrap;
    flex: 0 0 90px;
    text-align: right;
    padding-right: 12px;
  }
}
html {
  min-width: 1200px;
  font-size: 14px;
}
.ue-link--primary {
  color: $primaryColor;
}
#app {
  width: 100%;
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  color: #606266;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.ellipsis {
  @include nowrap();
}
.sidebar-container {
  transition: width 0.28s;
  width: 250px;
  background-color: #fff;
  height: 100%;
  position: fixed;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  .nav-wrapper {
    height: calc(100vh);
    border-right: 1px solid #e5ecfc;
    .menu {
      padding: 40px 0 0;
      list-style: none;
      border-right: 0;
      font-size: 14px;
      .menu-item {
        line-height: auto;
        height: auto;
        list-style: none;
        a {
          padding: 16px 20px;
          display: block;
          transition: all 0.3s;
          opacity: 0.5;
          color: #0558ff;
          &:hover {
            background: #eeeeee;
            opacity: 1;
          }
        }
        &.active {
          a {
            opacity: 1;
            background: #eee;
          }
        }
      }
    }
  }
  .scroll-wrapper {
    overflow-x: hidden !important;
  }
}

.navbar {
  + .main {
    min-height: calc(100vh - 50px);
    padding-bottom: 60px;
  }
}
.main {
  min-height: calc(100vh);
  background: #f0f2f5;
  overflow: hidden;
}
.container {
  width: 100%;
  padding: 20px;
}
.main-container {
  margin-left: 250px;
  min-height: 100%;
}

/* common */
.flex-box {
  display: flex;
}
.flex-item {
  flex: 1;
}
.flex-auto {
  flex: 0 0 auto;
}
.text-center {
  text-align: center;
}
.align-left {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.text-right {
  text-align: right;
}

.operate-panel {
  background: #fff;
  padding: 30px 20px 12px;
  border-radius: 2px;
  + .content-panel {
    margin-top: 20px;
  }
  .el-form-item {
    margin-right: 0 !important;
    width: 100%;
    // margin-bottom: 15px !important;
  }
  .el-input {
    height: 32px;
  }
  .el-range-editor.el-input__inner {
    width: 100%;
    .el-range-separator {
      width: auto;
    }
  }
  .el-select {
    width: 100%;
  }
  .el-form-item__label {
    white-space: nowrap;
  }
  .el-form-item__content {
    flex: 1;
  }
  .button-group {
    line-height: 40px;
  }
}

.content-panel {
  background: #fff;
  border-radius: 2px;
  &.fixed-bottom {
  }
  + .content-panel {
    margin-top: 20px;
  }
  .inner {
    padding: 30px 20px;
  }
  .title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    opacity: 0.85;
    height: 55px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 600;
  }
}

.site-logo {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5ecfc;
}

.ue-table {
  border-top: 1px solid #ebeef5;
  border-left: 1px solid #ebeef5;
  th {
    padding: 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
  }
  .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-right: 10px;
  }
  th {
    padding: 12px 0;
    border-right: 1px solid #ebeef5;
    border-bottom: 1px solid #ebeef5;
    user-select: none;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    > .cell {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
    &.th-cell {
      background: #f8faff;
      color: #5f6e8e;
      font-size: 13px;
    }
  }
  td {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    border-right: 1px solid #ebeef5;
    border-bottom: 1px solid #ebeef5;
    font-size: 12px;
    > .cell {
      padding-left: 10px;
    }
    &.td-cell {
    }
  }
}

.ue-pagination {
  text-align: right;
  margin-top: 30px;
  button {
    display: inline-block;
    border: none;
    padding: 0 6px;
    background: 0 0;
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    vertical-align: top;
    transition: all 0.3s;
    cursor: pointer;
    &:disabled {
      cursor: no-drop;
      opacity: 0.8;
    }
    &:not(:disabled):hover {
      border-color: #1890ff;
      color: #1890ff;
    }
  }
  .paging {
    display: inline-block;
    vertical-align: top;
    li {
      vertical-align: top;
      display: inline-block;
      margin: 0 4px;
      &.active {
        a {
          border-color: #1890ff;
          color: #1890ff;
        }
      }
      a {
        display: block;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        padding: 0 4px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
          border-color: #1890ff;
        }
      }
    }
  }
}

.default-text {
  color: $mainColor !important;
  line-height: 1;
  display: inline-block;
}
.instance-actions {
  a {
    color: #5f6e8e;
    font-size: 12px;
    display: block;
    padding: 12px 15px;
    &:hover {
      background: #eeeeee;
    }
  }
}

.my-popper {
  padding: 0 !important;
  min-width: auto;
  margin-top: 0 !important;
}

.content-panel--bd {
  padding: 0 20px 30px;
}

.panel-header {
  font-size: 14px;
  font-weight: 700;
  color: #2a344b;
  line-height: 1;
  border-left: 3px solid #000;
  padding-left: 10px;
}

.site-detail {
  margin-top: 20px;
  .flex-box {
    padding: 15px 0;
    line-height: 24px;
  }
  .label {
    color: #999;
    flex: 0 0 100px;
    text-align: right;
    padding-right: 12px;
  }
  .value {
    flex: 1;
  }
}
.panel {
  padding: 0 10px;
}
.form-control {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  &::placeholder {
    color: #aaaaaa;
  }
  &:focus {
    border-color: #409eff;
    outline: 0;
  }
}
.action-bar {
  position: fixed;
  bottom: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
  z-index: 1001;
  left: 250px;
  right: 0;
  + .container {
    margin-bottom: 70px;
  }
}

.nav-bar__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-size: 14px;
  ul {
    display: flex;
    li {
      padding: 0 25px;
      &.active {
        a {
          color: $mainColor;
          &:after {
            background: $mainColor;
          }
        }
      }
    }
    a {
      position: relative;
      display: block;
      line-height: 50px;
      color: #2a344b;
      transition: all 0.3s;
      &:hover {
        color: $mainColor;
      }
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        background: transparent;
        bottom: 0;
      }
    }
  }
}

.add-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.is-require {
  color: red;
}
.el-select {
  width: 100%;
}
.my-dialog {
  .el-dialog__header {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    .el-dialog__title {
      font-size: 16px;
      color: #2a344b;
    }
  }
  .form-group {
    .label {
      flex: 0 0 130px;
      line-height: 36px;
      height: 36px;
    }
    .el-input__inner {
      line-height: 36px;
      height: 36px;
    }
  }
}

.my-navbar {
  line-height: initial;
  .title {
    line-height: 45px !important;
  }
  .nav-bar__link {
    position: static;
    transform: none;
    ul {
      li {
        &:first-child {
          padding-left: 0;
        }
      }
      a {
        line-height: 45px;
      }
    }
  }
}

.nav-footer {
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 65px;
  border-top: 1px solid #e5ecfc;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .con {
    font-size: 14px;
    margin-left: 10px;
  }
  .el-link {
    color: #0558ff;
    margin-left: auto;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.el-form-item--small.el-form-item {
  margin-bottom: 30px;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
  .button-group {
    text-align: center;
    background: #fff;
    padding: 10px 0;
  }
}