.news-list{
    
  .item{
    display: block;
    overflow: hidden;
    padding: 25px 15px;
    transition: all 0.3s;
    border-bottom: 1px solid #ddd;
    img{
      transition: all 0.3s;
    }
    &:hover{
      background: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,.2);
      img{
        transform: scale(1.2);
      }
    }
    .image{
      float: left;
      width: 240px;
      height: 145px;
      font-size: 0;
      margin-right: 20px;
      overflow: hidden;
    }
    .title{
      font-size: 18px;
      color: #31424E;
      margin-bottom: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bold;
      font-family:MicrosoftYaHei-Bold;
    }
    .summary{
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 30px;
      height: 42px;
      overflow: hidden;
    }
    .info{
      color: #999;
    }
  }
}