

@keyframes fade-in-up{
  0%{
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
      /* transform: translateY(500px); */
      opacity: 1;
  }
}

/* 导航条 */
.header{
  position: relative;
  box-shadow: 0px 3px 17px rgba(0,0,0,.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 210px;

  .container{
      position: relative;
  }
  .navbar-header{
      float: left;
      font-size: 0;
  }
  .navbar{
      float:right;
  }
  .bshare-custom{
    display: inline-block;
    padding-top: 10px;
  }
  .menu{
      text-align:right;
      margin-left: 50px;
  }
}
.navbar-nav > li{
  float: left;
  > a{
      font-size:16px;
  }
}
.costom-hover{
  margin: 0 -22px;

  > li{
      position: relative;
      padding:0 22px;
       >a {
           display: block;
           padding: 15px 0;
           color: #fff;
       }
  }
}
.dropdown-menu {
position: absolute;
top: 100%;
z-index: 1000;
display: none;
float: left;
min-width: 140px;
list-style: none;
font-size: 14px;
text-align: left;
background-color: #000;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
background-clip: padding-box;
left: 50%;
margin-left: -70px;
padding: 4px 0;
}
.dropdown-menu>li>a {
display: block;
color: #999;
padding: 7px 20px 7px 20px;
text-align:center;
}
.open>.dropdown-menu {
display: block;
animation: fade-in-up 0.3s ease;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

/* 导航条 */