.cash-credit-home{
  padding: 30px 0;
  .title{
    font-size: 24px;
    margin-bottom: 40px;
    ~ .form-group{
      padding-left: 30px;
    }
  }
  .tip{
    color: #999999;
  }
  span{
    font-size: 14px;
    float: left;
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
  }
  .form-control{
    width: 120px;
    margin-right: 5px;
  }
  .label{
    width: 65px;
    margin-right: 10px;
  }
  .unit{
    position: absolute;
    left: 252px;
    top: 7px;
    color: #999;
  }
  .price{
    color: #CC4141;
    font-size: 18px;
    font-weight: 700;
  }
  .text-info{
    float: left;
    font-size: 14px;
  }
  .button{
    padding: 12px 123px;
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
    margin-left: 30px ;
  }
}

.credit-home{
  .label{
    width: 100px;
    text-align: right;
  }
}

.box-hd{
  .title{
    .back{
      font-size: 14px;
      color: #666;
    }
    .anticon{
      font-size: 14px;
    }
  }
}