.result-panel{
  background: #fff;
  padding: 30px;
  height: calc(100vh - 20px - 88px - 30px - 30px - 112px);
  h3{
    font-size: 18px;
    border-bottom: 1px solid $borderColor;
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 100px;
  }
}
.pay-result{
  text-align: center;
  .figure{
    display: inline-block;
    width: 69px; 
    height: 69px;
    background-image: url('../images/css_sprites_result.png');
    margin-bottom: 14px;
  }
  p{
    margin-bottom: 26px;
  }
  .button{
    width: 100px;
  }
  .figure-success{
    background-position:  -99px -10px;
  }
  .figure-fail{
    background-position:  -10px -10px;

  }
}