.bind-list {
  background: #f9f9f9;
  margin: 0 0 10px;
  padding: 10px 20px;
}
.bind-list .bind-tit {
  position: relative;
}
.bind-list .bind-tit .bind-op-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.bind-list .bind{
  color: #007C00;
}
.bind-list .bind-tit i{
  margin-right:5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(http://icon.qiantucdn.com/images/user/user-bind-info.png) no-repeat;
  vertical-align: middle;
}
.bind-list .bind-tit i.bind-qq {
 background-position: 0 -26px;
}
.bind-list .bind-tit i.bind-wb {
 background-position: -60px -26px;
}
.bind-list .bind-tit i.bind-wx {
 background-position: -30px -26px;
}
.bind-list .bind-tit i
.ftx-02{
  color: #71b247;
}
.ftx-05{
  color: #005ea7;
}
.ftx-04{
  color: #ff6c00;
}
.bind-op-btn .ftx-05{
display: inline-block;
width: 60px;
text-align: right;
margin-left: 10px;
}
/*绑定 END*/